@model IEnumerable<TodoCycle.Core.Task>

@{
    ViewBag.Title = "Index";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/angular/tasksApp.js"></script>
}

<h2>Index</h2>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>

<div ng-app="app">
    <div ng-controller="TasksController as controller">
        {{ 1 + 2 }}
    </div>
</div>